@import 'reset.scss';

@import url('https://fonts.googleapis.com/css?family=Charmonman');

*{
	  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	font-family: 'Charmonman', cursive;
}

.clearfix:after{
	display: block;
	clear: both;
	content: '';
}


.wrapper{
	max-width: 1250px;
	margin: 0px auto;
	background: green;
	padding: 10px 15px;
}
	.clock,
	.boomb,
	.second{		
		max-width: 500px;
		margin: 20px auto;
		background: yellow;
		color: green;
		font-size: 25px;
		line-height: 30px;
		padding: 12px;
	}

	.boomb{		
		color: red;
		.stopbombblock{
			position: relative;		
			.infobomb{
			font-size: 42px;
			line-height: 50px;
			}
			.question{
				float: left;
				font-size: 20px;
			}

			.stopbomb{
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(5%, -50%);
				width: 100px;
				padding: 8px 5px;
				font-size: 22px;
				line-height: 30px;
				color: red;
				background: yellow;	
				cursor: pointer;								
		
			}
		}	
		
	}
.second{
	position: relative;
	.display1,
	.display2,
	.display3{	
	display: block;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 125px;
	height: 50px;
	padding: 5px 10px;
	background: #000;
	color: yellow;
	//&:first-child{
		//margin-bottom: 0;
	//}
}
.buttons{	
	left: 10px;
	bottom: 0;
	padding: 5px;
	margin-top: 20px;


	input{
		margin-top: 20px;
		margin-left: 10px;
		min-width: 50px;
		padding: 5px;
		cursor: pointer;

	}
}
}



