@import 'reset.scss';

$hovercol: #22a9e6;

*{	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after{
display: block;
content: '';
clear: both;
}

.wrapper{
	max-width: 1250px;
	margin: 15px auto 40px;
	background: #ccc;
	
}
.menu{
	max-width: 980px;
	margin-bottom: 40px;
	
}

.main-menu{
	font-size: 18px;
	line-height: 22px;
	
	
	li{
		margin-left: 40px;
		display: inline-block;		
		text-transform: uppercase;
		font-style: italic;
		padding: 5px 10px;
		&:first-child{
			margin-left: 0;
		}
			a{
			display: block;
			text-decoration: none;
			color: #000;
				&:hover{
					color: $hovercol;
				}
			}
	}
}
.content-wrapper{
	padding: 12px;

}

.Home-content,
.Prof-content,
.Contact-content{
	display: none;
}

.active.Home-content,
.active.Prof-content,
.active.Contact-content{
	display: block;
	
}
