@import 'reset.scss';
@import 'icomoon.scss';
$hovercol: #6ac4b8;

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	
}

clearfix::after{
	display: block;
	clear: both;
	content: '';
}

.wrapper{
	max-width: 1240px;
	height: 100vh;
	margin: 10px auto;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
	//background: 
}
h1{
	font-size: 24px;
	line-height: 30px;
		
}

.toDoForm{
	width: 750px;
	margin: 0 auto;
	margin-top: 15px;
	border: solid 2px #ffcfcf;
	height: 80px;
	border-radius: 35px;
	padding-left: 30px;

	.input-txt{
		width: calc(100% - 40px);
		height: 100%;
		line-height: 45px;
		float: left;
		border: none;
		padding-right: 20px;
		font-size: 25px;
		padding: 0 10px;

	}
	.input-btn{
		display: block;
		height: 100%;
		width: 40px;
		//background: url(../images/bgimg.jpg);
		//background-size: cover;
		float: right;		
		padding: 0;
		border: none;
		background: none;
		font-size: 18px;
		cursor: pointer;
		
	}

}
.my-list{
	margin-top: 12px;
	border: solid 5px #edcb23;
	border-radius: 12px;
	min-height: 250px;
}

.input-txt::-webkit-input-placeholder {
color: $hovercol;
}
.input-txt::-moz-placeholder {
color: $hovercol;
}
.input-txt:-moz-placeholder {
color: $hovercol;
}
.input-txt:-ms-input-placeholder {
color: $hovercol;
}